<!DOCTYPE html>

<!-- homepage -->

<head>
  <title>Digital Scrapbook</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background-color: white;">
  <div class="container">
    <div class="row">
      <h1 class="display-1 font-monospace text-center m-5">DigiScrap
        <img src="/media/images/logo_test.png" alt="" width="240" height="120">
      </h1>
    </div>

    <div class="container px-4 text-center font-monospace">
      <!-- login -->
      <div class="row gx-5 justify-content-center">
        <div class="col-md-6">
          <div>
            {#need to use the post method for Django to process the form data#}
            <form action="" method="post">
              {#validation#}
              {% csrf_token %}
              {#the form (specified in views.py)#}
              {{ form }}
              {#Django does the form, but we need our own submit button#}
              <br>
              <input type="submit" value="Submit" class="btn btn-warning font-monospace">
            </form>
          </div>
        </div>
        <!-- new scrapbook -->
        <div class="col-md-6">
          <div>
            <p class="">Click here to create a brand new scrapbook for you and your friends.</p>
            <a href="/Scrapbook_project/new/" class="btn btn-warning font-monospace">Create new</a>
          </div>
        </div>
      </div>
    </div>

</body>